
*
{
    margin:0;
}




.nav{
    height: 3rem;
    background-color:brown;
    text-align: center;

}
.navigation{
    padding-top: 2vh;
    /* padding-left: 80vh; */
    text-align: right;
}

.navigation a{
    text-decoration: none;
    color:white;
    padding-left: 12vh;
     
}
/*main section*/


.one{
    
    background-color: blue;
    color:white;
    text-align: center;
}
.two{
    
    background-color:darkgreen;
    color: white;
    text-align: center;
}
.three{
  
    background-color:chocolate;
    color:white;
    text-align: center;
}
.four{
    
    background-color:chartreuse;
    color:white;
    text-align: center;
}
.five{
     
    background-color:darkorchid;
    color:white;
    text-align: center;
}
.five img{
  
    width:10vh;
    border-radius: 50%;
    border: 8px salmon;
}
.footer{
    height: 3rem;
    background-color: blue;
}